body {
  font-family: Arial, sans-serif;
  background: #d4f1ef;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.profile-img {
  width: 32px;
  height: 32px;
}

h1 {
  margin: 0.2rem 0;
}

h1,
h2 {
  color: #0f6461;
}

.profile,
.time {
  font-size: 0.9rem;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
}

form,
.list-container {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  border-bottom: solid 1px #292929;
  margin-bottom: 1.5rem;
}

textarea,
select,
input[type="date"] {
  padding: 0.6rem;
  margin-top: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.tag-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.tag-todo {
  display: flex;
  gap: 1rem;
}
.tag-priority,
.tag-date {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.tag-date {
  flex: 2;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

button {
  flex: 1;
  padding: 0.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

button[type="submit"] {
  background-color: #4caf50;
}

#delete-all {
  background-color: #f44336;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fafafa;
  border: 1px solid #eee;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;

  position: relative;
}

li.done {
  color: #999;
  text-decoration: line-through;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.time-created,
.deadline {
  font-size: 0.75rem;
  color: #666;
}
.deadline {
  position: relative;
  top: -0.5rem;
  background: #f44336;
  color: #fff;
  padding: 4px 8px;
  border-radius: 12px;
}
.deadline.done {
  background-color: #ddd !important;
  color: #999;
}

.item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 1rem;
  flex: 1;
  margin-right: 0.5rem;
  max-width: 500px;
  word-wrap: break-word;
  white-space: normal;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.check-btn,
.delete-btn {
  margin-top: 2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.delete-btn {
  background-color: #f44336;
}

.priority-label {
  position: relative;
  left: -1rem;
  top: -0.25rem;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 12px;
  color: white;
}

.priority-label.low {
  background-color: #4caf50;
}

.priority-label.medium {
  background-color: #ff9800;
}

.priority-label.high {
  background-color: #f44336;
}

.priority-label.disabled-priority {
  opacity: 0.6;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}

/* Modal */
.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  width: 50vw;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal.hidden {
  display: none;
}
/* ============================ */

/* Mobile */
@media (max-width: 600px) {
  header {
    flex-direction: row;
  }
  h1 {
    font-size: 1.25rem;
  }
  main {
    max-width: 320px;
    padding: 0.5rem;
  }

  .text {
    max-width: 260px;
  }

  li.done .text {
    max-width: 300px;
  }
}
/* ============================== */
